#Plan .edit-plan {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: #F2F2F2;
    align-items: center;
    margin: 150px 0;
    padding: 25px 50px;
}

#Plan .plan-description {
    font-size: 2rem;
    font-weight: 700;
}

#Plan .plan-description img {
    width: 18px;
    margin-left: 12px;
}

#Plan .tab {
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}

#Plan .tab-label {
    font-size: 1.5rem;
    font-weight: 700;
}

#Plan .icon-back,
#Plan .icon-next {
    width: 5%;
    display: flex;
    justify-content: center;
}


#Plan .icon-back i:hover,
#Plan .icon-next i:hover {
    opacity: 0.6;
    cursor: pointer;
}


#Plan .icon-back i::before,
#Plan .icon-next i::before {
    background-color: #fff;
    border-radius: 25px;
}


#Plan .icon-back i,
#Plan .icon-next i {
    font-weight: 600;
    font-size: 2.5rem;
    margin-top: 38px;
}

#Plan .icon-next {
    color: blue;
}

#Plan .plan-container {
    background-color: #EAEBEF;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#Plan .timeline-container {
    padding: 12px 14px 24px;
    width: 25%;
}

#Plan .pi-file {
    font-size: 25px;
}

#Plan .timeline-day {
    padding: 4px 14px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
}

#Plan .timeline-info {
    padding: 14px 14px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fff;
    margin-bottom: 24px;
}

#Plan .timeline-img {
    border-radius: 8px;
    max-width: 130px;
}

#Plan .move {
    border-left: 4px solid #C1C1C1;
}

#Plan .stay {
    border-left: 4px solid #AD735A;
}

#Plan .play {
    border-left: 4px solid #10A563;
}

#Plan .status {
    padding: 6px 24px;
    border-radius: 25px;
    font-weight: 500;
}

#Plan .transport-status {
    background-color: #EFEFEF;
    color: #000;
}

#Plan .stay-status {
    background-color: #FFEEE6;
    color: #AD735A;
}

#Plan .stay-status {
    background-color: #EEFFF7;
    color: #10A563;
}


#Plan .status i {
    margin-right: 8px;
}

#Plan .timeline-name {
    margin-left: 24px;
    font-size: 0.9rem;
    line-height: 2.2rem;
}

#Plan .time {
    display: flex;
    align-items: center;
    font-style: italic;
}


#Plan .time i {
    margin-right: 8px;
}

#Plan .eat-time {
    background-color: #FEF5CF;
    padding: 0 18px;
    border-radius: 8px;
    margin-bottom: 24px;
}