.header_container {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 16px rgba(17, 34, 17, 0.05);
    height: 83px;
}

.header_logo {
    margin: 0 27px;
}

.header_menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.header_menu .menu-item {
    display: flex;
    align-items: center;
    margin-right: 34px;
    height: 100%;
}

.menu-item .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    margin-left: 8px;
    text-decoration: none;
}

.header_avt {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.favourite-item {
    display: flex;
    align-items: center;
}

.favourite-item .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    margin-left: 8px;
}

.avatar-item {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 54px;
    margin-right: 22px;
}

.avatar-item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.avatar-item .title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #112211;
    margin-left: 8px;
}

.logout {
    position: absolute;
    padding: 8px 0;
    z-index: 10;
    top: 120%;
    right: 0;
    background-color: #000;
    border-radius: 0 0 5px 5px;
}

.button-logout {
    padding: 10px 30px;
    color: #fff;
    border: none;
    background-color: #000;
    border-radius: 5px;
}

.button-logout:hover {
    cursor: pointer;
    opacity: 0.8;
}